@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
