.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 1.2rem;
	position: relative;
	top: 5rem;
}

.container .inputContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.container textarea {
	resize: none;
	background-color: transparent;
	border: solid 2px;
	background-clip: linear-gradient(to right, #006466, #4d194d);
	min-width: 250px;
	max-width: 400px;
	height: 200px;
	color: #fff;
	font-size: 1rem;
	padding: 10px;
	margin: 1rem;
}

.container textarea:focus {
	box-shadow: 0 0 15px #065a60;
	border: #ffffff solid 2px;
	border-radius: 0;
}

.container textarea:focus-visible {
	box-shadow: 0 0 15px #065a60;
	outline: none;
}

.container button {
	font-size: 1rem;
	margin: 0 0.5rem;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 8px 20px;
	background: transparent;
	transition: all ease 0.2s;
	margin-top: 1.5rem;
}

.container button:enabled {
	cursor: pointer;
}

.container button:disabled {
	color: #505050;
	border: 2px solid #505050;
}

.container button:hover:enabled {
	box-shadow: 0 0 15px #065a60;
}

.container button:active:enabled {
	box-shadow: 0 0 20px #3e1f47;
	transform: scale(0.95);
}

.inputContainer .select div {
	background-color: #111;
	color: white;
}

.formGroup {
	padding: 20px 0 0;
	bottom: 15px;
	margin-top: 10px;
	max-width: 400px;
}

.formField {
	width: 100%;
	border: none;
	border-bottom: 2px solid #ffffffc7;
	outline: 0;
	font-size: 1.1rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.formField:focus {
	border-image: linear-gradient(to right, #006466, #4d194d);
	border-image-slice: 1;
}

.spanDanger {
	position: absolute;
	width: max-content;
	font-weight: 300;
	color: rgb(255, 0, 0);
	bottom: -1.6rem;
}

.spanDangerDescription {
	bottom: -10px;
}

.formNumber {
	width: 3rem;
}
