.searchContainer {
	display: flex;
}

.buttonsContainer {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
}

.buttonsContainer *:focus-visible {
	outline: 0px solid #ffffff;
}

.buttonsContainer button {
	margin: 0 0.5rem;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 8px 20px;
	background: transparent;
	transition: all ease 0.2s;
}

.buttonsContainer button:disabled {
	color: #7c7c7c;
	border: 2px solid #7c7c7c;
}

.buttonsContainer button:hover {
	box-shadow: 2px 2px 15px #065a60;
}

.buttonsContainer button:active {
	box-shadow: 2px 2px 20px #3e1f47;
	transform: scale(0.95);
}

.formGroup {
	position: relative;
	padding: 20px 0 0;
	bottom: 15px;
	margin-top: 10px;
	max-width: 180px;
}

.formField {
	width: 100%;
	border: none;
	border-bottom: 2px solid #ffffffc7;
	outline: 0;
	font-size: 1.1rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.formField::placeholder {
	color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
	font-size: 1.1rem;
	cursor: text;
	top: 20px;
}

.formLabel {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1.1rem;
	color: #ffffff;
	pointer-events: none;
}

.formField:focus {
	border-image: linear-gradient(to right, #006466, #4d194d);
	border-image-slice: 1;
}

.formField:focus ~ .formLabel {
	position: absolute;
	top: 5px;
	transition: 0.2s;
	color: #006466;
	font-weight: 700;
}

.formField:required,
.formField:invalid {
	box-shadow: none;
}
