.selectors select {
	background-color: #111;
	margin: 0 0.5rem;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 7px 10px;
	font-size: 1rem;
}

.selectors option {
	font-size: 1rem;
}

.selectors select:hover {
	box-shadow: 0 0 7px #065a60;
}

.selectors select:focus-visible {
	outline: 0px solid #ffffff;
}

@media screen and (max-width: 900px) {
	.selectors select {
		font-size: 0.8rem;
		padding: 2px 5px;
	}
	.selectors option {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 400px) {
	.selectors {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.selectors select {
		margin: 5px;
	}
}
