.container {
	width: fit-content;
	display: flex;
	flex-direction: column;
}
.cardsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.buttonPag {
	width: 100%;
	display: flex;
	justify-self: space-evenly;
	align-items: center;
}
