.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cardsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.buttonPag {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonPag p {
	font-size: 1.2rem;
	margin: 0 1rem;
}

.buttonPag button {
	font-size: 1rem;
	margin: 0 0.5rem;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 8px 20px;
	background: transparent;
	cursor: pointer;
	transition: all ease 0.2s;
}

.buttonPag button:hover {
	box-shadow: 0 0 10px #3e1f47;
}

.buttonPag button:disabled {
	visibility: hidden;
}

.active {
	box-shadow: 0 0 10px #065a60;
	transform: scale(1.1);
}

.nothingHere {
	height: 70vh;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1000px) {
	.cardsContainer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

@media screen and (max-width: 900px) {
	.buttonPag {
		max-width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.buttonPag button {
		margin: 5px;
		padding: 3px 10px;
	}
	.buttonPag p {
		font-size: 1rem;
	}
}
