.nav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #111; */
	z-index: 500;
}

.logoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logoContainer * {
	margin: 0 3px;
}

.logoContainer svg {
	animation: animlogo 6s ease-in-out infinite;
	-webkit-animation: animlogo 6s ease-in-out infinite;
	margin-left: 1rem;
}

.logoNameColor {
	font-family: "Silkscreen", cursive;
	font-size: 1.5rem;
	background: linear-gradient(34deg, #006466, #144552, #212f45, #312244, #4d194d);
	background-size: 100% 10%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logoNameWhite {
	font-family: "Silkscreen", cursive;
	font-size: 1.5rem;
	color: #e1e1e1;
}

.logoNameColor:hover {
	background: linear-gradient(45deg, #4d194d, #312244, #212f45, #144552, #006466);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.buttons {
	font-size: 18px;
	margin: 0 10px;
	color: #e1e1e1;
	font-family: inherit;
	font-weight: 800;
	cursor: pointer;
	position: relative;
	border: none;
	background: none;
	text-transform: uppercase;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: color;
}

.buttons:focus,
.buttons:hover {
	color: #fff;
}

.buttons:focus:after,
.buttons:hover:after {
	width: 100%;
	left: 0%;
}

.buttons:after {
	content: "";
	pointer-events: none;
	bottom: -2px;
	left: 50%;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 400ms;
	transition-property: width, left;
}

@keyframes animlogo {
	0% {
		fill: #4d194d;
	}
	50% {
		fill: #144552;
	}
	100% {
		fill: #4d194d;
	}
}

@keyframes animlogo {
	0% {
		fill: #4d194d;
	}
	50% {
		fill: #144552;
	}
	100% {
		fill: #4d194d;
	}
}
